/* .div {
  background-color: rgba(60, 24, 219, 0.5);
} */

.barratop {
  height: 60px;
  background-color: #eee;
}

.queme {
  border-left: 1px solid #dbdbdb;
}

.mainmenu {
  width: 400px;
}

.conversas {
  background-color: #e5ddd5;
  height: 82vh;
  border-left: 1px solid #dbdbdb;
}

.inputtext {
  border-left: 1px solid #dbdbdb;
}